.DisabledEdgeCases-button {
  display: block;
  padding: 5px;
  margin: 10px 0;
  border: 1px solid;
}

.DisabledEdgeCases-link {
  display: inline-block;
  margin: 10px 0;
  text-decoration: underline;
}

.DisabledEdgeCases-button.hover,
.DisabledEdgeCases-button.active,
.DisabledEdgeCases-link.hover,
.DisabledEdgeCases-link.active {
  color: green;
}

.DisabledEdgeCases-button.focus,
.DisabledEdgeCases-link.focus {
  outline: 2px solid green;
  outline-offset: 2px;
}

.DisabledEdgeCases-button.disabled,
.DisabledEdgeCases-link.disabled {
  opacity: 0.5;
}
